Source: usblockout
Section: admin
Priority: optional
Maintainer: Subgraph <info@subgraph.com>
Build-Depends: debhelper (>= 10), libacl1-dev, golang-go (>= 1.6), dh-golang, dh-systemd, dbus
Standards-Version: 3.9.8
Homepage: https://github.com/subgraph/usblockout
Vcs-Git: https://github.com/subgraph/usblockout.git
XS-Go-Import-Path: github.com/subgraph/usblockout
Vcs-Browser: https://github.com/subgraph/usblockout

Package: usblockout
Architecture: any
Depends: dbus, ${shlibs:Depends}, ${misc:Depends}
Description: session usb lockout for grsecurity
 USBLockout monitors the user session and enabled Grsecurity
 Deny new USB when it is locked or closed.
 It consists of a small privileged daemon and a user daemon 
 that transmits the session lock state.
 It requires that both Grsecutiry sysctl flags be enabled
 and that they not be hard locked.
