#!/usr/bin/make -f

#export DH_VERBOSE=1

export DH_OPTIONS

export DH_GOPKG := github.com/subgraph/usblockout

%:
	dh $@ --buildsystem=golang --with=golang,systemd

override_dh_auto_build:
	dh_auto_build -- -buildmode=pie -pkgdir=$$(mktemp -d -p $(CURDIR))

override_dh_auto_install:
	dh_auto_install
	mkdir -p $(CURDIR)/debian/usblockout/usr/sbin
	mv $(CURDIR)/debian/usblockout/usr/bin/usblockoutd $(CURDIR)/debian/usblockout/usr/sbin
	rm -rf $(CURDIR)/debian/usblockout/usr/share/gocode

override_dh_auto_test:
	@echo skipped auto test
