[Unit]
Description=USBLockout User Daemon
Requires=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/usblockout

[Install]
WantedBy=graphical-session.target
